/ArchitectureCNLRuntimeModule.java
/ArchitectureCNLStandaloneSetup.java
/.ArchitectureCNLRuntimeModule.java._trace
/.ArchitectureCNLRuntimeModule.xtendbin
/.ArchitectureCNLStandaloneSetup.java._trace
/.ArchitectureCNLStandaloneSetup.xtendbin
